exportPattern("*")

importFrom("ape", "nj", "plot.phylo")
importFrom("Biobase", "ExpressionSet", "assayData", "pData")
importFrom("biomaRt", "useMart", "useDataset", "getBM", "listAttributes")
importFrom("fastICA", "fastICA")
importFrom("pixmap","pixmapIndexed","addlogo")
importFrom("scatterplot3d", "scatterplot3d")
importFrom("tsne", "tsne")
importFrom("graph", "edges", "edgeL", "edgeData", "inEdges", "nodes", "nodeData")
importFrom("igraph", "graph.adjacency", "igraph.from.graphNEL", "minimum.spanning.tree", "layout_with_kk", "degree", "V", "V<-", "E", "E<-")
importFrom("fdrtool", "fdrtool")
importFrom("Rcpp", "sourceCpp")
importFrom("RcppParallel" ,"RcppParallelLibs")
importFrom("grDevices", "chull", "col2rgb", "colorRampPalette","dev.off", "pdf", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "box","boxplot", "frame", "hist", "image", "layout", "legend",
           "lines", "mtext", "par", "persp", "pie", "plot", "points","polygon", "rect", "text", "title")
importFrom("methods", "is")
importFrom("stats", "aov", "as.dendrogram", "cor", "cutree", "density","dist", "ecdf", "fisher.test", "hclust", "kmeans",
           "na.omit", "order.dendrogram", "pbeta", "prcomp", "pt","quantile", "reorder", "sd", "var", "wilcox.test")
importFrom("utils", "combn", "data", "flush.console", "head","modifyList", "sessionInfo", "setTxtProgressBar","write.csv", "write.csv2")
importFrom("future", "plan", "multisession" )
importFrom("future.apply", "future_apply", "future_lapply" )
importFrom("parallel", "detectCores" )
useDynLib(oposSOM, .registration=TRUE)