exportPattern("*")

import("som")
import("fastICA")
import("scatterplot3d")
import("pixmap")
import("fdrtool")
import("KernSmooth")
import("biomaRt")

importFrom("ape", "nj", "plot.phylo")
importFrom("Biobase", "ExpressionSet", "assayData", "pData")
importFrom("igraph", "graph.adjacency", "minimum.spanning.tree", "layout_with_kk", "V", "V<-", "E", "E<-")