exportPattern("^opossom.[[:alpha:]]+")

import("som")
import("fastICA")
import("scatterplot3d")
import("pixmap")
import("fdrtool")
import("igraph")
import("KernSmooth")
import("parallel")
import("biomaRt")

importFrom("ape", "nj", "plot.phylo")
importFrom("Biobase", "ExpressionSet")
